extends layout

block content
  h1= title
  
  ul
  each item in category_detail.items
    li 
      - let ingredient_url = '/catalog/ingredient/' + item;
      a(href=ingredient_url) #{item}

  else
    li There are no genres.