extends layout

block content
  h1= title
  p Welcome to FoodList!

  if error
    p Error getting dynamic content.
  else
    p The library has #{data} listed ingredients

    p Use the menu link on the side bar for a complete list of pairings, or select a letter below to begin your search.

    a(href='/catalog/ingredients/a' class='letterSearch') A
    a(href='/catalog/ingredients/b' class='letterSearch') B
    a(href='/catalog/ingredients/c' class='letterSearch') C
    a(href='/catalog/ingredients/d' class='letterSearch') D
    a(href='/catalog/ingredients/e' class='letterSearch') E
    a(href='/catalog/ingredients/f' class='letterSearch') F
    a(href='/catalog/ingredients/g' class='letterSearch') G
    a(href='/catalog/ingredients/h' class='letterSearch') H
    a(href='/catalog/ingredients/i' class='letterSearch') I
    a(href='/catalog/ingredients/j' class='letterSearch') J
    a(href='/catalog/ingredients/k' class='letterSearch') K
    a(href='/catalog/ingredients/l' class='letterSearch') L
    a(href='/catalog/ingredients/m' class='letterSearch') M
    br
    a(href='/catalog/ingredients/n' class='letterSearch') N
    a(href='/catalog/ingredients/o' class='letterSearch') O
    a(href='/catalog/ingredients/p' class='letterSearch') P
    a(href='/catalog/ingredients/q' class='letterSearch') Q
    a(href='/catalog/ingredients/r' class='letterSearch') R
    a(href='/catalog/ingredients/s' class='letterSearch') S
    a(href='/catalog/ingredients/t' class='letterSearch') T
    a(href='/catalog/ingredients/u' class='letterSearch') U
    a(href='/catalog/ingredients/v' class='letterSearch') V
    a(href='/catalog/ingredients/w' class='letterSearch') W
    a(href='/catalog/ingredients/x' class='letterSearch') X
    a(href='/catalog/ingredients/y' class='letterSearch') Y
    a(href='/catalog/ingredients/z' class='letterSearch') Z
