extends layout

block content
  h1 Ingredient List
  
  ul
  each ingredient in ingredient_list
    -console.log('ingredient: ', ingredient)
    li 
      a(href=ingredient.url) #{ingredient.name} 

  else
    li There are no ingredients.