extends layout

block content
  h1 Ingredient List
  
  ul
  each ingredient in ingredient_list
    li 
      - let ingredientName = ingredient.displayName ? ingredient.displayName : ingredient.name;
      a(href=ingredient.url) #{ingredientName} 

  else
    li There are no ingredients.