extends layout

block content
  h1 Search Page

  form(action='/catalog/search_results/' method='post')
    div.form-group
      label(for="ingredient_name") Search for: 
      input#name.form-control(class='searchInput' type='text' placeholder='Enter a full or partial ingredient name' name='ingredient_name')
      button.btn.btn-primary(type='submit') Submit