/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}

.header-nav {
    padding-top: 0px;
}

.letterSearch {
	margin: 5px;
	font-size: 1.5em;
	font: arial, sans-serif;
}

.headerImage {
	display:inline-block;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}

.mainContent {
	padding-top: 20px;
	padding-left: 30px;
	text-align: center;
}

.ingredientList {
	text-align: left;
}